# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Import applicants_data.csv to Google Colab
from google.colab import files
uploaded = files.upload()

Saving applicants_data.csv to applicants_data.csv

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df.tail()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == 'object'].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
numerical_variables = applicant_data_df.drop(columns=['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS'])

numerical_variables

       STATUS   ASK_AMT  IS_SUCCESSFUL
0           1      5000              1
1           1    108590              1
2           1      5000              0
3           1      6692              1
4           1    142590              1
...       ...       ...            ...
34294       1      5000              0
34295       1      5000              0
34296       1      5000              0
34297       1      5000              1
34298       1  36500179              0

[34299 rows x 3 columns]

In [11]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([numerical_variables,encoded_df], axis=1)

# Review the DataFrame
encoded_df.tail()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [12]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [13]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X.head()
X.tail()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [14]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [15]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [16]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [17]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [18]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  58

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [19]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 29

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [20]:
# Create the Sequential model instance
nn = Sequential()

In [21]:
# Add the first hidden layer

nn.add(
    Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu')
    )

In [22]:
# Add the second hidden layer
nn.add(
    Dense(units=hidden_nodes_layer2, activation="relu")
    )

In [23]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(
    Dense(units=1, activation="sigmoid")
    )

In [24]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [25]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [26]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X, y, validation_split=0.3, epochs=50)

Epoch 1/50
751/751 [==============================] - 3s 3ms/step - loss: 14869.5088 - accuracy: 0.4985 - val_loss: 37198.0938 - val_accuracy: 0.4936
Epoch 2/50
751/751 [==============================] - 1s 2ms/step - loss: 12749.5537 - accuracy: 0.4886 - val_loss: 59936.3047 - val_accuracy: 0.4936
Epoch 3/50
751/751 [==============================] - 1s 2ms/step - loss: 11574.7783 - accuracy: 0.4959 - val_loss: 48547.9727 - val_accuracy: 0.4936
Epoch 4/50
751/751 [==============================] - 1s 2ms/step - loss: 3473.3894 - accuracy: 0.5136 - val_loss: 20235.3066 - val_accuracy: 0.4936
Epoch 5/50
751/751 [==============================] - 1s 2ms/step - loss: 5976.7529 - accuracy: 0.4935 - val_loss: 2594.6738 - val_accuracy: 0.5064
Epoch 6/50
751/751 [==============================] - 1s 2ms/step - loss: 8637.3438 - accuracy: 0.4978 - val_loss: 1889.8873 - val_accuracy: 0.5051
Epoch 7/50
751/751 [==============================] - 1s 2ms/step - loss: 9772.2275 - accuracy: 0.4967 - val_loss: 266566.4375 - val_accuracy: 0.5064
Epoch 8/50
751/751 [==============================] - 1s 2ms/step - loss: 8428.0576 - accuracy: 0.5091 - val_loss: 12919.3896 - val_accuracy: 0.5064
Epoch 9/50
751/751 [==============================] - 1s 2ms/step - loss: 6471.9062 - accuracy: 0.4974 - val_loss: 18982.3555 - val_accuracy: 0.4936
Epoch 10/50
751/751 [==============================] - 2s 2ms/step - loss: 2222.5046 - accuracy: 0.4946 - val_loss: 27551.7422 - val_accuracy: 0.4936
Epoch 11/50
751/751 [==============================] - 1s 2ms/step - loss: 4683.3018 - accuracy: 0.4950 - val_loss: 9887.6152 - val_accuracy: 0.4936
Epoch 12/50
751/751 [==============================] - 1s 2ms/step - loss: 1971.3232 - accuracy: 0.4981 - val_loss: 838.0972 - val_accuracy: 0.5078
Epoch 13/50
751/751 [==============================] - 1s 2ms/step - loss: 1174.8201 - accuracy: 0.5147 - val_loss: 9743.6494 - val_accuracy: 0.4936
Epoch 14/50
751/751 [==============================] - 1s 2ms/step - loss: 638.7569 - accuracy: 0.5076 - val_loss: 244.6806 - val_accuracy: 0.5063
Epoch 15/50
751/751 [==============================] - 1s 2ms/step - loss: 426.3333 - accuracy: 0.5150 - val_loss: 3130.4265 - val_accuracy: 0.4936
Epoch 16/50
751/751 [==============================] - 1s 2ms/step - loss: 380.4910 - accuracy: 0.5321 - val_loss: 13.4808 - val_accuracy: 0.5129
Epoch 17/50
751/751 [==============================] - 1s 2ms/step - loss: 297.6967 - accuracy: 0.5245 - val_loss: 368.7450 - val_accuracy: 0.5047
Epoch 18/50
751/751 [==============================] - 1s 2ms/step - loss: 199.0437 - accuracy: 0.4987 - val_loss: 1856.5203 - val_accuracy: 0.4936
Epoch 19/50
751/751 [==============================] - 2s 2ms/step - loss: 350.1703 - accuracy: 0.4618 - val_loss: 991.0236 - val_accuracy: 0.4936
Epoch 20/50
751/751 [==============================] - 1s 2ms/step - loss: 147.1512 - accuracy: 0.5147 - val_loss: 0.6972 - val_accuracy: 0.5064
Epoch 21/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6538 - accuracy: 0.5975 - val_loss: 0.6519 - val_accuracy: 0.6300
Epoch 22/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6255 - accuracy: 0.6566 - val_loss: 0.6516 - val_accuracy: 0.6305
Epoch 23/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6250 - accuracy: 0.6571 - val_loss: 0.6519 - val_accuracy: 0.6306
Epoch 24/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6242 - accuracy: 0.6578 - val_loss: 0.6527 - val_accuracy: 0.6311
Epoch 25/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6239 - accuracy: 0.6576 - val_loss: 0.6499 - val_accuracy: 0.6325
Epoch 26/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6241 - accuracy: 0.6571 - val_loss: 0.6498 - val_accuracy: 0.6312
Epoch 27/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6237 - accuracy: 0.6583 - val_loss: 0.6503 - val_accuracy: 0.6314
Epoch 28/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6781 - accuracy: 0.5785 - val_loss: 0.6953 - val_accuracy: 0.5064
Epoch 29/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6895 - accuracy: 0.5435 - val_loss: 0.6958 - val_accuracy: 0.5064
Epoch 30/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6895 - accuracy: 0.5435 - val_loss: 0.6956 - val_accuracy: 0.5064
Epoch 31/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6895 - accuracy: 0.5435 - val_loss: 0.6951 - val_accuracy: 0.5064
Epoch 32/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6962 - val_accuracy: 0.5064
Epoch 33/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6952 - val_accuracy: 0.5064
Epoch 34/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6959 - val_accuracy: 0.5064
Epoch 35/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6965 - val_accuracy: 0.5064
Epoch 36/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6963 - val_accuracy: 0.5064
Epoch 37/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6895 - accuracy: 0.5435 - val_loss: 0.6966 - val_accuracy: 0.5064
Epoch 38/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6964 - val_accuracy: 0.5064
Epoch 39/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6895 - accuracy: 0.5435 - val_loss: 0.6953 - val_accuracy: 0.5064
Epoch 40/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6892 - accuracy: 0.5435 - val_loss: 0.6991 - val_accuracy: 0.5064
Epoch 41/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6895 - accuracy: 0.5435 - val_loss: 0.6967 - val_accuracy: 0.5064
Epoch 42/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6895 - accuracy: 0.5435 - val_loss: 0.6955 - val_accuracy: 0.5064
Epoch 43/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6895 - accuracy: 0.5435 - val_loss: 0.6977 - val_accuracy: 0.5064
Epoch 44/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6895 - accuracy: 0.5435 - val_loss: 0.6965 - val_accuracy: 0.5064
Epoch 45/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6941 - val_accuracy: 0.5064
Epoch 46/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6896 - accuracy: 0.5435 - val_loss: 0.6952 - val_accuracy: 0.5064
Epoch 47/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6895 - accuracy: 0.5435 - val_loss: 0.6952 - val_accuracy: 0.5064
Epoch 48/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6895 - accuracy: 0.5435 - val_loss: 0.6955 - val_accuracy: 0.5064
Epoch 49/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6895 - accuracy: 0.5435 - val_loss: 0.6947 - val_accuracy: 0.5064
Epoch 50/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6895 - accuracy: 0.5435 - val_loss: 0.6945 - val_accuracy: 0.5064

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [27]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.7181 - accuracy: 0.6352 - 320ms/epoch - 1ms/step
Loss: 0.7181074619293213, Accuracy: 0.6352186799049377

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [28]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

# Download your model to your computer
files.download(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [29]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [30]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [31]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 25

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

25

In [32]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = 25

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A1

25

In [33]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A1 = 13

# Review the number of hidden nodes in the second layer
hidden_nodes_layer3_A1

13

In [34]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [35]:

# First hidden layer
nn_A1.add(
    Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation='relu')


    )

# Add the second hidden layer
nn_A1.add(
    Dense(units=hidden_nodes_layer2_A1, activation="relu")
    )

# Add the Third hidden layer
nn_A1.add(
    Dense(units=hidden_nodes_layer3_A1, activation="relu")
    )
# Output layer
nn_A1.add(
    Dense(units=1, activation="sigmoid")
    )

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 25)                2925

 dense_4 (Dense)             (None, 25)                650

 dense_5 (Dense)             (None, 13)                338

 dense_6 (Dense)             (None, 1)                 14

=================================================================
Total params: 3,927
Trainable params: 3,927
Non-trainable params: 0
_________________________________________________________________

In [36]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [37]:
# Fit the model using 50 epochs and the training data
fit_model = nn_A1.fit(X, y, validation_split=0.3, epochs=50)

Epoch 1/50
751/751 [==============================] - 2s 2ms/step - loss: 2931.2878 - accuracy: 0.4981 - val_loss: 12053.5723 - val_accuracy: 0.5064
Epoch 2/50
751/751 [==============================] - 1s 2ms/step - loss: 842.9886 - accuracy: 0.5158 - val_loss: 687.3967 - val_accuracy: 0.4937
Epoch 3/50
751/751 [==============================] - 1s 2ms/step - loss: 973.1266 - accuracy: 0.5131 - val_loss: 708.0391 - val_accuracy: 0.4936
Epoch 4/50
751/751 [==============================] - 1s 2ms/step - loss: 1483.8639 - accuracy: 0.5030 - val_loss: 13561.0342 - val_accuracy: 0.4936
Epoch 5/50
751/751 [==============================] - 1s 2ms/step - loss: 537.8944 - accuracy: 0.5038 - val_loss: 660.2444 - val_accuracy: 0.5064
Epoch 6/50
751/751 [==============================] - 1s 2ms/step - loss: 912.9668 - accuracy: 0.5059 - val_loss: 792.6941 - val_accuracy: 0.5036
Epoch 7/50
751/751 [==============================] - 1s 2ms/step - loss: 627.7854 - accuracy: 0.5032 - val_loss: 94.4992 - val_accuracy: 0.5065
Epoch 8/50
751/751 [==============================] - 1s 2ms/step - loss: 175.0317 - accuracy: 0.5094 - val_loss: 1570.2692 - val_accuracy: 0.5064
Epoch 9/50
751/751 [==============================] - 1s 2ms/step - loss: 170.1628 - accuracy: 0.5133 - val_loss: 22.6408 - val_accuracy: 0.5069
Epoch 10/50
751/751 [==============================] - 2s 2ms/step - loss: 88.2250 - accuracy: 0.5136 - val_loss: 497.1860 - val_accuracy: 0.5064
Epoch 11/50
751/751 [==============================] - 1s 2ms/step - loss: 151.2265 - accuracy: 0.5056 - val_loss: 215.3992 - val_accuracy: 0.5044
Epoch 12/50
751/751 [==============================] - 1s 2ms/step - loss: 20.5251 - accuracy: 0.5410 - val_loss: 0.8096 - val_accuracy: 0.5148
Epoch 13/50
751/751 [==============================] - 1s 2ms/step - loss: 0.7259 - accuracy: 0.5440 - val_loss: 0.6800 - val_accuracy: 0.5064
Epoch 14/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6833 - accuracy: 0.5438 - val_loss: 0.6949 - val_accuracy: 0.5064
Epoch 15/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6959 - val_accuracy: 0.5064
Epoch 16/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6957 - val_accuracy: 0.5064
Epoch 17/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6961 - val_accuracy: 0.5064
Epoch 18/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6953 - val_accuracy: 0.5064
Epoch 19/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6895 - accuracy: 0.5435 - val_loss: 0.6960 - val_accuracy: 0.5064
Epoch 20/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6952 - val_accuracy: 0.5064
Epoch 21/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6969 - val_accuracy: 0.5064
Epoch 22/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6895 - accuracy: 0.5435 - val_loss: 0.6963 - val_accuracy: 0.5064
Epoch 23/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6952 - val_accuracy: 0.5064
Epoch 24/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6951 - val_accuracy: 0.5064
Epoch 25/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6951 - val_accuracy: 0.5064
Epoch 26/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6956 - val_accuracy: 0.5064
Epoch 27/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6970 - val_accuracy: 0.5064
Epoch 28/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6950 - val_accuracy: 0.5064
Epoch 29/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6966 - val_accuracy: 0.5064
Epoch 30/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6974 - val_accuracy: 0.5064
Epoch 31/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6958 - val_accuracy: 0.5064
Epoch 32/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6955 - val_accuracy: 0.5064
Epoch 33/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6958 - val_accuracy: 0.5064
Epoch 34/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6965 - val_accuracy: 0.5064
Epoch 35/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6952 - val_accuracy: 0.5064
Epoch 36/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6951 - val_accuracy: 0.5064
Epoch 37/50
751/751 [==============================] - 2s 3ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6965 - val_accuracy: 0.5064
Epoch 38/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6961 - val_accuracy: 0.5064
Epoch 39/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6961 - val_accuracy: 0.5064
Epoch 40/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6952 - val_accuracy: 0.5064
Epoch 41/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6955 - val_accuracy: 0.5064
Epoch 42/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6958 - val_accuracy: 0.5064
Epoch 43/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6948 - val_accuracy: 0.5064
Epoch 44/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6895 - accuracy: 0.5435 - val_loss: 0.6957 - val_accuracy: 0.5064
Epoch 45/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6961 - val_accuracy: 0.5064
Epoch 46/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6965 - val_accuracy: 0.5064
Epoch 47/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6959 - val_accuracy: 0.5064
Epoch 48/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6959 - val_accuracy: 0.5064
Epoch 49/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6958 - val_accuracy: 0.5064
Epoch 50/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6955 - val_accuracy: 0.5064

In [38]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6479 - accuracy: 0.6269 - 350ms/epoch - 1ms/step
Loss: 0.6479421257972717, Accuracy: 0.6269387602806091

#### Alternative Model 2

# Reduce Features in Original data set 
* Retain your data withr educed freatures data set 
* run model and compare result
* run LeakyRelu on layer 1

In [39]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [40]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [41]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_removed_features_df = applicant_data_df.drop(columns=['EIN','NAME', 'APPLICATION_TYPE','INCOME_AMT'])

# Review the DataFrame
applicant_data_removed_features_df.tail()

,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
34294,Independent,C1000,ProductDev,Association,1,N,5000,0
34295,CompanySponsored,C3000,ProductDev,Association,1,N,5000,0
34296,CompanySponsored,C2000,Preservation,Association,1,N,5000,0
34297,Independent,C3000,ProductDev,Association,1,N,5000,1
34298,Independent,C1000,Preservation,Co-operative,1,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [ ]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_removed_features_df.dtypes[applicant_data_removed_features_df.dtypes == 'object'].index)

# Display the categorical variables list
categorical_variables

['AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'SPECIAL_CONSIDERATIONS']

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [ ]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_removed_features_df[categorical_variables])

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [ ]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C0,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C1230,...,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [ ]:
numerical_variables = applicant_data_removed_features_df.drop(columns=[
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'SPECIAL_CONSIDERATIONS'])

numerical_variables

       STATUS   ASK_AMT  IS_SUCCESSFUL
0           1      5000              1
1           1    108590              1
2           1      5000              0
3           1      6692              1
4           1    142590              1
...       ...       ...            ...
34294       1      5000              0
34295       1      5000              0
34296       1      5000              0
34297       1      5000              1
34298       1  36500179              0

[34299 rows x 3 columns]

In [ ]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([numerical_variables,encoded_df], axis=1)

# Review the DataFrame
encoded_df.tail()

,STATUS,ASK_AMT,IS_SUCCESSFUL,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C0,...,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
34294,1,5000,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [ ]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [ ]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X.head()
X.tail()

,STATUS,ASK_AMT,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C0,CLASSIFICATION_C1000,...,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
34294,1,5000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [ ]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=3)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [ ]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

90

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 90

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

90

In [ ]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = 45
# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

45

In [ ]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A2 = 22

# Review the number of hidden nodes in the second layer
hidden_nodes_layer3_A2

22

In [ ]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer4_A2 = 10

# Review the number of hidden nodes in the second layer
hidden_nodes_layer4_A2

10

In [ ]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [ ]:

# First hidden layer
nn_A2.add(
    Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation='LeakyReLU')


    )

# Add the second hidden layer
nn_A2.add(
    Dense(units=hidden_nodes_layer2_A2, activation="relu")
    )

# Add the Third hidden layer
nn_A2.add(
    Dense(units=hidden_nodes_layer3_A2, activation="relu")
    )
#add the Fourth Hidden layer
nn_A2.add(
    Dense(units=hidden_nodes_layer4_A2, activation="relu")
    )
# Output layer
nn_A2.add(
    Dense(units=1, activation="sigmoid")
    )

# Check the structure of the model
nn_A2.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_64 (Dense)            (None, 90)                8190

 dense_65 (Dense)            (None, 45)                4095

 dense_66 (Dense)            (None, 22)                1012

 dense_67 (Dense)            (None, 10)                230

 dense_68 (Dense)            (None, 1)                 11

=================================================================
Total params: 13,538
Trainable params: 13,538
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Fit the model
fit_model_A2 = nn_A2.fit(X, y, validation_split=0.3, epochs=35)

Epoch 1/35
751/751 [==============================] - 3s 3ms/step - loss: 581.6611 - accuracy: 0.5148 - val_loss: 0.6953 - val_accuracy: 0.5064
Epoch 2/35
751/751 [==============================] - 2s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6956 - val_accuracy: 0.5064
Epoch 3/35
751/751 [==============================] - 2s 3ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6958 - val_accuracy: 0.5064
Epoch 4/35
751/751 [==============================] - 2s 3ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6959 - val_accuracy: 0.5064
Epoch 5/35
751/751 [==============================] - 2s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6958 - val_accuracy: 0.5064
Epoch 6/35
751/751 [==============================] - 2s 3ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6955 - val_accuracy: 0.5064
Epoch 7/35
751/751 [==============================] - 2s 3ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6961 - val_accuracy: 0.5064
Epoch 8/35
751/751 [==============================] - 2s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6959 - val_accuracy: 0.5064
Epoch 9/35
751/751 [==============================] - 2s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6956 - val_accuracy: 0.5064
Epoch 10/35
751/751 [==============================] - 2s 3ms/step - loss: 0.6893 - accuracy: 0.5435 - val_loss: 0.6963 - val_accuracy: 0.5064
Epoch 11/35
751/751 [==============================] - 2s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6964 - val_accuracy: 0.5064
Epoch 12/35
751/751 [==============================] - 2s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6961 - val_accuracy: 0.5064
Epoch 13/35
751/751 [==============================] - 2s 3ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6962 - val_accuracy: 0.5064
Epoch 14/35
751/751 [==============================] - 2s 3ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6959 - val_accuracy: 0.5064
Epoch 15/35
751/751 [==============================] - 2s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6956 - val_accuracy: 0.5064
Epoch 16/35
751/751 [==============================] - 2s 3ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6958 - val_accuracy: 0.5064
Epoch 17/35
751/751 [==============================] - 2s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6955 - val_accuracy: 0.5064
Epoch 18/35
751/751 [==============================] - 2s 3ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6959 - val_accuracy: 0.5064
Epoch 19/35
751/751 [==============================] - 2s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6958 - val_accuracy: 0.5064
Epoch 20/35
751/751 [==============================] - 2s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6959 - val_accuracy: 0.5064
Epoch 21/35
751/751 [==============================] - 2s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6959 - val_accuracy: 0.5064
Epoch 22/35
751/751 [==============================] - 2s 3ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6957 - val_accuracy: 0.5064
Epoch 23/35
751/751 [==============================] - 2s 3ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6962 - val_accuracy: 0.5064
Epoch 24/35
751/751 [==============================] - 2s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6955 - val_accuracy: 0.5064
Epoch 25/35
751/751 [==============================] - 2s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6960 - val_accuracy: 0.5064
Epoch 26/35
751/751 [==============================] - 2s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6959 - val_accuracy: 0.5064
Epoch 27/35
751/751 [==============================] - 2s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6959 - val_accuracy: 0.5064
Epoch 28/35
751/751 [==============================] - 2s 3ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6963 - val_accuracy: 0.5064
Epoch 29/35
751/751 [==============================] - 2s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6960 - val_accuracy: 0.5064
Epoch 30/35
751/751 [==============================] - 2s 3ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6957 - val_accuracy: 0.5064
Epoch 31/35
751/751 [==============================] - 2s 3ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6958 - val_accuracy: 0.5064
Epoch 32/35
751/751 [==============================] - 2s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6960 - val_accuracy: 0.5064
Epoch 33/35
751/751 [==============================] - 2s 3ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6958 - val_accuracy: 0.5064
Epoch 34/35
751/751 [==============================] - 2s 2ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6958 - val_accuracy: 0.5064
Epoch 35/35
751/751 [==============================] - 2s 3ms/step - loss: 0.6894 - accuracy: 0.5435 - val_loss: 0.6959 - val_accuracy: 0.5064

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.7962 - accuracy: 0.6971 - 292ms/epoch - 1ms/step
Loss: 0.7962440848350525, Accuracy: 0.6971428394317627

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.8492 - accuracy: 0.5251 - 291ms/epoch - 1ms/step
Loss: 0.849195122718811, Accuracy: 0.5251311659812927

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.6975 - accuracy: 0.5190 - 407ms/epoch - 2ms/step
Loss: 0.6975339651107788, Accuracy: 0.5189504623413086

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = "AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A1.save(file_path)

# Download the model to your computer
files.download(file_path)

In [ ]:
# Set the file path for the second alternative model
file_path = "AlphabetSoup_A2.h5"

# Export your model to a HDF5 file
nn_A2.save(file_path)

# Download the model to your computer
files.download(file_path)